/* prettier-ignore */

@font-face {
  font-family: "YouandiModernHead";
  font-style: normal;
  font-weight: bold;
  src: url(../font/YouandiModernHeadBold.eot);
  src: url(../font/YouandiModernHeadBold.eot?#iefix) format("embedded-opentype"),
    url(../font/YouandiModernHeadBold.woff) format("woff");
}

@font-face {
  font-family: "YouandiModernHead";
  font-style: normal;
  font-weight: 900;
  src: url(../font/YouandiModernHeadExtraBold.eot);
  src: url(../font/YouandiModernHeadExtraBold.eot?#iefix)
      format("embedded-opentype"),
    url(../font/YouandiModernHeadExtraBold.woff) format("woff");
}

@font-face {
  font-family: "YouandiModernHead";
  font-style: normal;
  font-weight: 400;
  src: url(../font/YouandiModernHeadRegular.eot);
  src: url(../font/YouandiModernHeadRegular.eot?#iefix)
      format("embedded-opentype"),
    url(../font/YouandiModernHeadRegular.woff) format("woff");
}

@font-face {
  font-family: "YouandiModernText";
  font-style: normal;
  font-weight: bold;
  src: url(../font/YouandiModernTextBold.eot);
  src: url(../font/YouandiModernTextBold.eot?#iefix) format("embedded-opentype"),
    url(../font/YouandiModernTextBold.woff) format("woff");
}

@font-face {
  font-family: "YouandiModernText";
  font-style: normal;
  font-weight: 400;
  src: url(../font/YouandiModernTextRegular.eot);
  src: url(../font/YouandiModernTextRegular.eot?#iefix)
      format("embedded-opentype"),
    url(../font/YouandiModernTextRegular.woff) format("woff");
}
