/* prettier-ignore */
@import url("./font.css");
@import url("./reset.css");

body {
  background: #282828;
}

#container {
  width: 100%;
  /* max-width: 750px; */
  margin: 0 auto;
  min-width: 320px;
}

.banner {
  background-color: #f58220;
  padding: 11px 55px;
}

.banner p {
  font-size: 13.65px;
  color: #ffffff;
  letter-spacing: -0.05em;
  text-align: center;
}

.mainVisual {
  position: relative;
  width: 100%;
  height: 431px;
  background: url(../img/background.png) repeat center 100%;
  background-size: 320px 431px;
  z-index: -1;
}

.mainVisual .cardWrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.mainVisual .cardWrap .cardLeft {
  width: 255.5px;
  position: absolute;
  left: -160px;
  top: -100px;
}

.mainVisual .cardWrap .cardRight {
  width: 87.5%;
  /* width: 280px; */
  position: absolute;
  right: -60px;
  top: 40px;
}

.mainVisual .titleWrap {
  width: 100%;
  position: absolute;
  bottom: 82px;
  padding: 0 18px;
  box-sizing: border-box;
}

.mainVisual .titleWrap p {
  color: #a5a5a5;
  font-size: 12.8px;
  letter-spacing: -0.025em;
  line-height: 17.92px;
  margin-bottom: 13px;
}

.mainVisual .titleWrap h2 {
  font-size: 37.54px;
  letter-spacing: -0.025em;
  line-height: 1.25;
  color: #ffffff;
}

.mainVisual .logoWrap {
  width: 100%;
  position: absolute;
  bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  box-sizing: border-box;
}

.mainVisual .logoWrap .mireAsset {
  width: 73px;
  height: auto;
  opacity: 0.4;
}

.mainVisual .logoWrap .hyundaiCard {
  width: 78px;
  height: auto;
}
/**프로모션*/
.promotion {
  position: relative;
  background: #131726;
}

.promotion .titleWrap {
  padding: 36px 17px 48px 18px;
}

.promotion .promotionTopImage {
  position: absolute;
  width: 320px;
  top: 33px;
  right: 0;
}

.promotion .contentsWrap {
  padding: 18px 17px 37px 17px;
  background: #f4f4f4;
  border-radius: 17.7px 17.7px 0 0;
}

.promotion .contentsWrap > div + div {
  margin-top: 9px;
}

/**프로모션-혜택*/
.promotion .benefit {
  background: #ffffff;
  padding: 14px 15px 17px 15px;
  border-radius: 4.27px;
  box-shadow: 0px 4px 8.46px 0.54px rgba(0, 0, 0, 0.05);
}

.promotion .contentsWrap .category {
  font-size: 11.1px;
  line-height: 1.34;
  letter-spacing: 0.025em;
  margin-bottom: 8px;
  color: #f58220;
}

.promotion .contentsWrap .title {
  font-size: 17px;
  line-height: 1.19;
  color: #111111;
}

.promotion .contentsWrap .title.letter {
  letter-spacing: -0.075em;
}

.promotion .benefit .gradeWrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.promotion .benefit .gradeWrap > div {
  flex: 1;
  text-align: center;
}

.promotion .benefit .gradeWrap div + div {
  border-left: 1px solid #d9d9d9;
}

.promotion .benefit .gradeWrap .silver {
  padding-right: 12px;
}

.promotion .benefit .gradeWrap .gold {
  padding: 0 12px;
}

.promotion .benefit .gradeWrap .diamond {
  padding-left: 12px;
}

.promotion .gradeWrap .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion .gradeWrap .icon img {
  width: 20px;
}

.promotion .gradeWrap .icon em {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -0.025em;
  color: #666666;
  margin-left: 4px;
  font-style: normal;
}

.promotion .gradeWrap strong {
  display: block;
  font-size: 12.8px;
  line-height: 1.16;
  margin-top: 5px;
  letter-spacing: -0.05em;
}

.promotion .period {
  padding: 18.8px 13.6px 14.9px 13.6px;
  background: #ffffff;
  border-radius: 4.27px;
}

/**타이틀공통*/
.title .category {
  display: block;
  font-size: 12px;
  letter-spacing: -0.025em;
  color: #f58220;
  margin-bottom: 14px;
}

.title h3 > span {
  display: block;
  font-size: 29px;
  letter-spacing: -0.025em;
  line-height: 1.2;
  color: #ffffff;
}

.promotion .targetCard {
  border-radius: 4.27px;
  padding: 18px 13px 16px 13px;
  background: #ffffff url(../img/target_card_img.png) no-repeat right;
  background-size: 287px auto;
}

.promotion .join {
  border-radius: 4.27px;
  padding: 18.8px 12.8px 17px 12.8px;
  background: #ffffff;
}

.promotion .join ol li {
  font-size: 12px;
  line-height: 1.5;
}

.promotion .joinButtonWrap {
  margin: 17px auto 12px auto;
  text-align: center;
}

.promotion .joinButton {
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  padding: 13px 30px;
  border-radius: 21.3px;
  background: #f58220;
  color: #ffffff;
}

.promotion .notice {
  display: block;
  color: #999999;
  font-size: 10.3px;
  letter-spacing: -0.025em;
  text-align: center;
}

.stockSaveUp {
  position: relative;
  padding: 42px 0 42px;
  background: #ffffff;
  color: #111111;
  text-align: center;
  overflow: hidden;
}

.stockSaveUp .title h3 {
  font-size: 29px;
}

.stockSaveUp .title p {
  font-size: 14.5px;
  line-height: 1.7;
  margin-top: 12px;
}

.stockSaveUp .backText {
  width: max-content;
  color: #eeeeee;
  display: block;
  margin: 20px 0 13px 0;
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: -0.025em;
  white-space: nowrap;
  user-select: none;
  animation: textScroll 30s linear infinite;
}

.stockSaveUp .logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: calc(50% + 18px);
}

.stockSaveUp .logoWrap img {
  width: 33px;
}

.stockSaveUp .logoWrap img + img {
  margin-left: 12px;
}

@keyframes textScroll {
  0% {
    transform: translateX(calc(0% - 0vw));
  }
  100% {
    transform: translateX(calc(-100% - 100vw));
  }
}

@media (min-width: 750px) {
  #container {
    max-width: 375px;
  }
}
@media (min-width: 1199px) {
  #container {
    max-width: 750px;
  }

  .banner {
    background-color: #df632c;
    padding: 22px 110px;
  }

  .banner p {
    font-size: 32px;
    color: #ffffff;
    letter-spacing: -0.05em;
    text-align: center;
  }

  .mainVisual {
    height: 1010px;
  }

  .mainVisual .cardWrap .cardLeft {
    width: 511px;
    left: -311px;
    top: -162px;
  }

  .mainVisual .cardWrap .cardRight {
    width: 650px;
    right: -140px;
    top: 95px;
  }

  .mainVisual .titleWrap {
    bottom: 189px;
    padding: 0 40px;
  }

  .mainVisual .titleWrap p {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 33px;
  }

  .mainVisual .titleWrap h2 {
    font-size: 88px;
  }

  .mainVisual .logoWrap {
    align-items: flex-end;
    bottom: 39px;
    padding: 0 40px;
  }

  .mainVisual .logoWrap .mireAsset {
    width: 173px;
  }

  .mainVisual .logoWrap .hyundaiCard {
    width: 182px;
  }

  .promotion .titleWrap {
    padding: 89px 40px 111px 40px;
  }

  .promotion .promotionTopImage {
    width: 750px;
    top: 76px;
  }

  /**폰트 사이즈 안맞아서 임시로 넣어둠*/
  .promotion .title .category {
    height: 30px;
  }

  .promotion .title h3 {
    height: 154px;
  }

  /**타이틀공통*/
  .title .category {
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #f58220;
    margin-bottom: 30px;
  }

  .title h3 > span {
    font-size: 68px;
    line-height: 1.3;
    color: #ffffff;
  }

  .promotion .contentsWrap > div + div {
    margin-top: 23px;
  }

  .promotion .contentsWrap {
    padding: 40px 40px 80px 40px;
  }

  .promotion .benefit {
    padding: 31px 32px;
    border-radius: 10px;
  }

  .promotion .contentsWrap .category {
    font-size: 26px;
    line-height: 1.34;
    margin-bottom: 18px;
  }

  .promotion .contentsWrap .title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
  }

  .promotion .benefit .gradeWrap {
    margin-top: 30px;
  }

  .promotion .targetCard {
    padding: 40px 30px 41px 32px;
    border-radius: 10px;
    background-size: cover;
  }

  .promotion .gradeWrap .icon img {
    width: 46px;
  }
  .promotion .gradeWrap .icon em {
    margin-right: 13px;
    font-size: 28px;
  }
  .promotion .benefit .gradeWrap .silver {
    padding-right: 30px;
  }
  .promotion .benefit .gradeWrap .gold {
    padding: 0 30px;
  }
  .promotion .benefit .gradeWrap .diamond {
    padding-left: 30px;
  }
  .promotion .gradeWrap strong {
    margin-top: 14px;
    font-size: 30px;
  }

  .promotion .period {
    padding: 44px 32px 35px 32px;
  }

  .promotion .join {
    border-radius: 10px;
    padding: 44px 30px 40px 30px;
  }

  .promotion .join ol li {
    font-size: 28px;
  }
}
